*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a, a:visited{
    text-decoration: none;
    color: white;
}

.container{
    max-width: 1440px;
    background-color: black;
    padding: 24px;
    margin: auto;
}

.logo{
    color: white;
    font-size: 36px;
}

.nav-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.nav-bar ul{
    display: flex;
    gap: 24px;
    list-style: none;
}

.nav-bar ul li{
    padding: 12px;
}

.cta-btn{
    background-color: white;
    border-radius: 12px;
    width: 150px;
    text-align: center;
}

.cta-btn a, a:visited{
    color: black;
}